#MinhaFoto{
    border-radius: 200px;
    width: 300px;
    position: relative;
    left: 1100px;
}
#gitsimbolo{
    position: relative;
    width: 50px;
    bottom: 590px;
    left: 1700px; 
    border-radius: 100px;
    
}
#trybesimbolo{
    position: relative;
    width: 50px;
    bottom: 590px;
    left: 1700px;
    border-radius: 20px;

}
#Linkesimbolo{
    position: relative;
    width: 50px;
    bottom: 590px;
    left: 1700px;
    border-radius: 30px;

}
h1{
    background-color: #6C7A6E;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    position: relative;
    top: -35px;
}
p{
font-weight: 600;
text-align: center;
font-size: 0.8cm;
}
body{
    background-color:#254441;
}
ul{
    text-align: center;
    font-size: 30px;
}